  <footer id="main-footer" class="footer">
    <div class="bg--secondary-600">
      <div class="container">
        <div class="footer-information">
          <div class="footer-information__entry">
          <h3>About us</h3>
          <p>The <a href="https://www.bar.admin.ch/bar/en/home.html">Swiss Federal Archives</a> provides the Linked Data Service LINDAS. This service includes a tool for data conversion and data integration as well as a data storage infrastructure (Triplestore). </p>
          <p>
          © Swiss Federal Archives SFA 
          </p>
          </div>
          <div class="footer-information__entry footer-information__entry">
            <h3>Download as</h3>
            <div class="footer-information__download">
              <a href="?format=jsonld" class="footer__link">JSON-LD</a><br />
              <a href="?format=ttl" class="footer__link">Turtle</a><br />
              <a href="?format=nt" class="footer__link">N3</a><br />
            </div>
	  </div>
          <div class="footer-information__entry footer-information__entry">
            <h3>Open this resource in</h3>
            <div class="footer-information__download">
              <a href="?format=jsonld" class="footer__link">Graph Explorer</a><br />
              <a href="?format=jsonld" class="footer__link">SPARQL</a>
            </div>
          </div>
          <div class="footer-information__entry">
            <h3>Further Information</h3>
            <div class="footer-information__links">
              <div class="footer-information__links-column">
                <a href="/" class="footer__link footer-information__link--icon-right"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="footer-information__icon icon icon--base icon--ArrowRight "><path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path></svg>
                About Us 
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg--secondary-700">
      <nav aria-label="Footer" class="container">
        <ul class="footer-navigation">
          <li><a href="https://www.admin.ch/gov/en/start/terms-and-conditions.html" class="footer__link">Legal Framework</a></li>
          <li><a href="/contact" class="footer__link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </footer>
