<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}

 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

  <div class="container-fluid">
   <div class="col-sm-12">
    <div class="row">
${m(`
# Contact
`)}
    <table class="table" style="margin-left:0;width:50%;">
     <tbody>
      <tr style="margin-left:0;">
       <td style="margin-left:0;padding-left:0px;"><strong class="ng-binding">Responsible organization</strong></td>
       <td><p class="ng-binding">Swiss Federal Archives</p>
         <p class="ng-binding">Archivstrasse 24 </p>
         <p class="ng-binding">3003 Bern</p>
       <p>Tel. +41 58 462 89 89</p>
       <p>Fax +41 58 462 78 23</p>
      </td></tr>
      <tr>
       <td><strong class="ng-binding">Contact</strong></td>
       <td><p><a href="mailto:opendata@bar.admin.ch">opendata@bar.admin.ch</a><br>
       </p></td>
      </tr>
      <tr>
       <td><strong>Web</strong></td>
       <td>
        <p><a href="http://www.egovernment.ch/lindas" target="_blank">www.egovernment.ch/lindas</a></p>
       </td>
      </tr>
     </tbody>
    </table>

    </div>
   </div>
  </div>

${include('cwd:views/footer.html')}
 </div>

 <script src="/js/vendors.min.js"></script>
 <script src="/js/main.min.js"></script>
${include('cwd:views/powered.html')}
 </body>
</html>
