<div class="container container--grid gap--responsive">
  <div class="hero__content">
    <div class="trifid-content container--grid gap--responsive">
      <div class="container__full vertical-spacing">
        {{{ content }}}
      </div>
    </div>
  </div>
</div>
