
<div class="vertical-spacing">
  <div class="container container--grid gap--responsive">
    <div class="hero__content">
      <div class="trifid-content container--grid gap--responsive">
        <div class="container__full vertical-spacing">
          {{{ locals.content-plugin.lindas.documentation }}}
        </div>
      </div>
    </div>
  </div>

  <section class="section bg--secondary-100">
    <div class="container">
      <div class="grid grid--responsive-cols-3 gap--responsive">

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>Admin</h3>
              </div>
              <p>Admin</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/documentation/admin/" aria-label="Read more" title="Read more" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">Read more</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>Applications</h3>
              </div>
              <p>Applications</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/documentation/applications/" aria-label="Read more" title="Read more" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">Read more</span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card card--highlight card--clickable">
          <div class="card__content">
            <div class="card__body">
              <div class="card__title">
                <h3>Technical</h3>
              </div>
              <p>Technical</p>
            </div>
            <div class="card__footer card__footer--icon-only">
              <div class="card__footer__action">
                <a href="/documentation/technical/" aria-label="Read more" title="Read more" class="btn btn--outline btn--icon-only">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon--base icon--ArrowRight">
                    <path xmlns="http://www.w3.org/2000/svg" d="m16.444 19.204 4.066-7.044-4.066-7.044-.65.375 3.633 6.294h-15.187v.75h15.187l-3.633 6.294z"></path>
                  </svg>
                  <span class="btn__text">Read more</span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

