  <footer>
   <div class="container-fluid">
${get('moduleFoot') || '<h3>&nbsp;</h3>'}

    <hr class="footer-line visible-xs">
    <img class="visible-xs" src="/img/logo-CH.svg" onerror="this.onerror=null; this.src='/img/logo-CH.png'" alt="">
   </div>

   <address>
    <span class="hidden-xs pull-left">©2014-2020 Swiss Federal Archives</span>
    <nav class="pull-right">
     <ul>
       <li><a href="//www.admin.ch/gov/en/start/terms-and-conditions.html">${t('admin:Disclaimer')}</a></li>
       <li><a href="/contact/">${t('admin:Contact')}</a></li>
     </ul>
    </nav>
   </address>
  </footer>
