  <footer>
   <div class="container-fluid">
${get('moduleFoot') || '<h3>&nbsp;</h3>'}

    <hr class="footer-line visible-xs">
    <img class="visible-xs" src="/img/logo-CH.svg" onerror="this.onerror=null; this.src='/img/logo-CH.png'" alt="">
   </div>

   <address>
	   <span class="hidden-xs pull-left"><a style="color: black" href="https://gitlab.ldbar.ch/zazuko/lindas-admin-ch/-/sse/master%2Fcontent%2F${url.pathname === '/'?'':url.pathname.substring(1, url.pathname.length - 1).replace('/','%2F')+'.'}${locale}.md">©</a>2014-${new Date().getYear()+1900} ${t('meta:Organisation')}</span>
    <nav class="pull-right">
     <ul>
       <li><a href="${t('meta:DisclaimerLink')}">${t('meta:Disclaimer')}</a></li>
       <li><a href="/contact/">${t('meta:Contact')}</a></li>
     </ul>
    </nav>
   </address>
  </footer>
