<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}

 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-12" id="content">
    <h1>${t('navigation:About LINDAS')}</h1>

    <div class="row">
     <div class="col-sm-6 col-md-5">
${m(readFile('./content/'+locale+'.md'))}
     </div>
     <div class="col-sm-6 col-md-4">
${m(readFile('./content/ld.'+locale+'.md'))}
     </div>

    ${include('cwd:views/sidebar.html')}

    </div>

    <div class="row">
     <div class="col-sm-12 col-md-9">
     ${m(t('about:Questions'))}
     </div>
    </div>

    <div class="row">
     <div class="col-md-9 col-sm-12 col-sm-offset-0">
      <div class="well clearfix">
      <br>
      <figure class="col-sm-12">
       <div style="padding-bottom: 56.25%;">
        <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;" frameborder="0" width="100%" height="100%" src="${t('meta:AboutVideo')}" frameborder="0" allowfullscreen=""></iframe>
       </div>
      </figure>
      <p>&nbsp;</p>
      ${m(t('about:Intro'))}
      </div>
     </div>
    </div>

   </div>
  </div>
 </div>


${include('cwd:views/footer.html')}
 </div>

 <script src="/js/vendors.min.js"></script>
 <script src="/js/main.min.js"></script>
${include('cwd:views/powered.html')}
 </body>
</html>
