${set('moduleFoot',`     <h3>${('Download this resource as')}</h3>
     <nav>
       <ul>
         <li><a href="?format=jsonld">JSON-LD</a></li>
         <li><a href="?format=ttl">Turtle</a></li>
         <li><a href="?format=nt">N3</a></li>
       </ul>
     </nav>`)}
<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}

   <style>
      .table-graph { table-layout: fixed; }
      .table-object { overflow: hidden; }
   </style>

 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

  <div class="container-fluid">
   <div class="col-sm-12">
    <div class="row">
     <h1>${t('meta:Resource')}</h1>
     <div id="title"></div>
     <div id="subtitle"></div>
    </div>
    <div class="row">
     <div id="graph"></div>
    </div>
   </div>
  </div>

${include('cwd:views/footer.html')}
 </div>

 <script src="/js/vendors.min.js"></script>
 <script src="/js/main.min.js"></script>
 <script src="/js/render-ld.js"></script>
${include('cwd:views/powered.html')}
 </body>
</html>
