     <div class="col-md-3 col-sm-12 col-sm-offset-0 col-md-offset-0">
      <!-- Contextual information -->
      <a id="context-sidebar" class="hidden-print"></a>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
       <li class="active"><a href="#lindastab" data-toggle="tab" role="tab" id="ui-tab-lindas" tabindex="0" aria-selected="true" aria-controls="lindastab">LINDAS</a></li>
       <li><a href="#contacttab" data-toggle="tab" role="tab" id="ui-tab-contact" tabindex="0" aria-selected="true" aria-controls="contacttab">${t('meta:Contact')}</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content tab-border">

       <div class="tab-pane active" id="lindastab" role="tabpanel" aria-hidden="false" aria-labelledby="ui-tab-lindas">
        <div data-print="lindas-info" data-title="Lindas">
        <img src="/logo-Lindas.png">
        </div>
       </div>

       <div class="tab-pane" id="contacttab" role="tabpanel" aria-hidden="false" aria-labelledby="ui-tab-contact">
        <div data-print="contact-info" data-title="Contact">

         <div>
          <strong><span>${t('meta:Organisation')}</span></strong><br>
          <span>Archivstrasse 24</span><br>
          <span>3003 ${t('Bern')}</span><br>
         </div>

         <dl class="dl-horizontal">
          <dt>Tel.</dt>
          <dd><a href="tel:+41584628989">+41 58 462 89 89</a></dd>
          <dt>Fax.</dt>
          <dd><a href="tel:+41584627823">+41 58 462 78 23</a></dd>
         </dl>
         <p>
          <a href="mailto:support-lindas@bar.admin.ch" class="icon icon--before icon--message">Email</a><br>
         </p>

        </div>
       </div>

      </div>
     </div>
