<div class="container container--grid gap--responsive">
  <div class="hero__content">
    <div class="trifid-content container--grid gap--responsive">
      <div class="container__full vertical-spacing">
        {{{ <iframe src="https://int.visualize.admin.ch/de/embed/g6MoHso22JMJ?embedOptions=%7B%7D" style="border:0px #ffffff none; max-width: 100%" name="visualize.admin.ch" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="640px" width="600px" allowfullscreen></iframe> }}}
      </div>
    </div>
  </div>
</div>
