<div class="container container--grid gap--responsive">
  <div class="hero__content">
    <div class="trifid-content container--grid gap--responsive">
      <div class="container__full vertical-spacing">
        {{{ locals.content-plugin.lindas.about-lindas }}}

        {{{ locals.content-plugin.lindas.linked-data }}}

        {{> infos}}
      </div>
    </div>
  </div>
</div>
