<div class="container container--grid gap--responsive">
  <div class="hero__content">
    <div class="trifid-content container--grid gap--responsive">
      <div class="container__full vertical-spacing">
        {{{ session.markdown-content-plugin.lindas.about-lindas }}}

        {{{ session.markdown-content-plugin.lindas.linked-data }}}

        {{!-- <iframe class="item-16-9-ratio" frameborder="0" src="https://www.youtube-nocookie.com/embed/{{ i18n "homePageYouTubeVideoID" }}" allow="clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen></iframe> --}}

        {{!-- {{> infos}} --}}
      </div>
    </div>
  </div>
</div>
