<div class="trifid-content">
  <div class="container welcome-container">
    <div class="welcome-content">
      <div class="welcome-content-left">
        {{{ locals.content-plugin.lindas.about-lindas }}}
      </div>

      <div class="welcome-content-right">
        {{{ locals.content-plugin.lindas.linked-data }}}
      </div>
    </div>

    <div class="welcome-side">
      {{> infos}}
    </div>
  </div>
</div>
