${set('moduleAbout','<a href="http://about.yasgui.org/" target="_blank">YASGUI</a>')}
<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}
  <link href="dist/yasgui.css" rel="stylesheet" type="text/css" />
  <style>
    #yasgui .tab-content {
        padding: 0px;
     }
    #yasgui .chosen-container {
        margin: 0px!important;
        display: none;
     }
  </style>
 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

 <div class="container-fluid">
   <div class="col-sm-12">
     <div class="row">

      <div class="col-sm-12 col-md-9">
       ${m(t('query:Intro'))}
      </div>
${include('cwd:views/sidebar.html')}

     </div>

     <div class="row">
      <div class="col-sm-12">
       <div id="yasgui"></div>
      </div>
     </div>

   </div>
  </div>

${include('cwd:views/footer.html')}
 </div>

 <script src="/js/vendors.min.js"></script>
 <script src="/js/main.min.js"></script>
 <script src="dist/yasgui.min.js"></script>
 <script type="text/javascript">
    // set SPARQL endpoint URL

    YASGUI.defaults.yasqe.sparql.endpoint = '${endpointUrl}';
    YASGUI.defaults.yasqe.value = 'PREFIX schema: <http://schema.org/>\\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\\nSELECT * WHERE {\\n\\t?sub a schema:DataCatalog .\\n}';
    YASGUI.YASR.plugins.leaflet.defaults.defaultColor = '#FF8000';
    YASGUI.YASR.plugins.leaflet.defaults.defaultStyle = { fillOpacity: 0.75, fillColor: '#FFFF00' };

    YASGUI.YASR.plugins.leaflet.defaults.defaultMap = 'chmaps';

    var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors ';
    var mbUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    var streets   = L.tileLayer(mbUrl, {id: 'mapbox.streets', attribution: mbAttr});

    YASGUI.YASR.plugins.leaflet.defaults.defaultOverlay = { "OpenStreetMap": streets };

    var config = {"api":{}};
    ${typeof urlShortener !== 'undefined' ? "config.api.urlShortener = '" + urlShortener + "';" : ''}
    var yasgui = YASGUI(document.getElementById('yasgui'), config);

 </script>

${include('cwd:views/powered.html')}
 </body>
</html>
