#yasgui {
  margin-top: 48px;
}

#yasgui input:not([type='checkbox']),
#yasgui select {
  min-height: unset;
  padding: unset;
  width: inherit;
}

.headers-autolink {
  color: rgb(31 41 55);
  text-decoration: none;
}

.item-16-9-ratio {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Used in views, for <section> used as submenu */
.remove-space-after-submenu-section {
  margin-bottom: -80px;
}

/* override CSS style */
main a {
  word-break: break-word;
}
