<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}

 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

  <div class="container-fluid">
   <div class="col-sm-12">
     <div class="row">

      <div class="col-sm-12 col-md-9">
${m(readFile('./content/publish.'+locale+'.md'))}
      </div>
${include('cwd:views/sidebar.html')}

     </div>

   </div>
  </div>

${include('cwd:views/footer.html')}
 </div>

 <script src="/js/vendors.min.js"></script>
 <script src="/js/main.min.js"></script>
${include('cwd:views/powered.html')}
 </body>
</html>
